<div class="container mt-4">
  <div class="d-flex justify-content-center text-center">
    <div class="card" style="width: 450px;border:outset">
      <h5 class="card-header font-weight-bold">URL Shortener</h5>
      <div class="card-body">
        <i class="fas fa-link fa-7x" style="color:cadetblue;"></i>
        <h4 class=" mt-4">Success! Please use below link:</h4>
        <a href="https://www.google.com.tw/" style="font-size: 20px;">https://www.google.com.tw/</a>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="button" id="create-button">Copy</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>